.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

.add-task-section {
  margin-top: 50px;
}

.form-title {
  color: #333;
  margin-bottom: 20px;
}

main{
  min-height: 90vh;
}

.input-field {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 50%;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.select-field{
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 10%;
}

.span-reset {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0056b3;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

span {
  font-size: 18px;
}

.delete {
  background-color:  #ca3019;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.feito {
  background-color:  #780ac2;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  margin-left: 86%;
  transition: background-color 0.3s ease;
}

.delete:hover {
  background-color: #d4503b;
}

.completed {
  background-color: #d3f7cf;
}

.incomplete {
  background-color: #f7cfd3;
}

.box {
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.tittle {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
  text-align: center;
  color: #666666;
}

.hidden {
  display: none;
}
